.wrapper {
    color: rgb(16, 149, 238);
    text-shadow: 2px 2px 4px rgba(23, 7, 82, 0.829);
    font-size: 25px;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 200px;
}
hr {
    margin-bottom: 15px;
    background-color: #08080834;
    height: 2px;
    border: 10;
    }
h2 {
    color: white;
    text-shadow: 2px 2px 4px rgba(189, 236, 69, 0.829);
    font-weight: bolder;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.forms{
    background-color: rgb(192, 201, 206);
    border: 2px solid rgb(11, 158, 90);
    border-radius: 5px;
    height: 20px;
    width: 50% !important;
    font-family: sans-serif;
}
.form3{
    background-color: rgb(138, 226, 138);
    color: black;
    font-size: 20px;
    width: 120px;
    margin-left: 200px;
    padding: 10px;
    font-family: sans-serif;
    font-weight: bolder;
    border-radius: 5px;
    border: 2px solid rgb(11, 158, 90);
    font-style: italic;
}
.form2{
    height: 80px;
    width: 50% !important;
    background-color: rgb(192, 201, 206);
    border-radius: 10px;
    font-family: sans-serif;
    border: 2px solid rgb(11, 158, 90);
}
.form1{
    border: 2px solid rgb(11, 158, 90);
}
